<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= dog.name %></title>
  </head>
  <%- include('./partials/nav') %>
  <body>
    <h1>Say Hello to <%= dog.name %></h1>
    
    <% if (dog.isGentleAroundPeople) { %>
        <p>I love being around people!</p>
      <% } else { %>
        <p>I'm nervous around the scary people!</p>
      <% } %>
      <% if (dog.isGentleAroundAnimals) { %>
        <p>I cant't wait to play with my Doggie Family!</p>
      <% } else { %>
        <p>I'm not so great with the others!</p>
      <% } %>


    <div>
        <label for="age">Age: <%= dog.age %> </label>
    </div>

    <div>
        <label for="dateOfBirth">Date of Birth: <%= dog.dateOfBirth %> </label>
    </div>

    <div>
        <label for="breed">Breed: <%= dog.breed %> </label>
    </div>

    <div>
        <label for="color">Color: <%= dog.color %> </label>
    </div>

    <div>
        <label for="weight">Weight: <%= dog.weight %> <small>Weight in pounds (lbs)</small></label>
    </div>

    <div>
        <label for="gender">Gender: <%= dog.gender %> </label>
    </div>



    <div>
        <label for="description">Comments: <%= dog.description %></label>
    </div>



      <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= dog.name %></button>
    </form>
    <a href="/dogs/<%= dog._id %>/edit">Edit <%= dog.name %></a>
  </body>
</html>